{
	"name": "{{appName}}",
	"version": "1.0.0",
	"author": "",
	"location": "",
	"homepage": "",
	"documentation": "",
	"repository": {
		"type": "",
		"url": ""
	},
	"bugs": "",
	"slug": "{{appName}}",
	"shortDescription": "",
	"description": "",
	"instructions": "",
	"type": "app",
	"keywords": [],
	"private": false,
	"projectURL": "",
	"license": [],
	"contributors": [],
	"dependencies": {},
	"devDependencies": {},
	"installPaths": {},
	"scripts": {},
	"ignore": [
		"**/.*",
		"tests"
	]
}
