/**
 * Routes Configuration
 *
 * Define your application routes here.
 *
 * Example routes:
 *   router.get("/", "Home.index");
 *   router.get("/about", "Home.about");
 *   router.resource("users");  // Creates all RESTful routes for users
 *   router.namespace("api/v1", function() {
 *     router.resource("posts");
 *   });
 *
 * For more information, see: https://fuse.framework/docs/routing
 */
component {

	public function configure(required any router) {
		// Define your routes here

	}

}
